.custom1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.custom2 {
  position: relative;
  display: block;
  width: calc(218% + 1.3px);
  height: 400px;
  transform: rotateY(180deg);
}

.custom3 {
  fill: #18718c;
}
